:root {
--smoky-black: #0e0906ff;
--fire-opal: #ea5348ff;
--ash-gray: #bdbea9ff;
--dark-sea-green: #8db38bff;
--viridian: #56876dff;
--dark-spring-green: #04724dff;
--shadow: 0 1px 5px #ea5348ff;

}

html {
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-rows: 800px;
    
    
}

.typing-demo{
        width: 22ch;
        animation: typing 1s steps(10), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: 'Lora', serif;
        font-size: 4rem;
        color: var(--fire-opal);
      }
      
      @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
      }

.subtitle{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.index-header {
    background-color: var(--smoky-black);
    padding: 200px;
    box-shadow: var(--shadow);

}

nav ul{
    display: grid;
    grid-gap: 20px;
   position:absolute;
    top: 0;
    right:0;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
  list-style-type: none;
}

a:visited {
    color: white;
  }
  a:hover{
      color: var(--fire-opal);
  }

.section2 {
display: grid;
grid-gap: 10px;
justify-content: center;
font-family: 'Roboto', sans-serif;

}
.passionimg {
max-width: 100%;
  height: auto;
  
}
.passionimg:hover {
    transform: scaleX(-1);
  }
  .subheading {
      text-align: center;
      font-size: 2rem;

  }
  /*.section3 {
      display: grid;
    border-style: solid;
    border-width: medium;
    border-color: var(--smoky-black);
    font-family: 'Roboto', sans-serif;

  }
.subheading2 {
    
    font-size: 3rem;
    color: var(--smoky-black);
    text-align: center; 
}*/

.about-me {
    text-align: center;
}


  footer {
      padding: 20px;
      background-color: var(--smoky-black);
      color: var(--fire-opal);
      text-align: end;
      font-family: 'Roboto', sans-serif;
      font-size: x-small;

  }

  /*styling for contacts section*/

  #contact-body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--smoky-black);
    color: white;
    box-shadow: var(--shadow);
  }

  .hello-title {
      color: var(--fire-opal);
      font-size: 3rem;
      font-family: 'Lora', serif;
      text-align: center;
  }

  input {
      width: 70%;
      padding: 12px 20px;
       margin: 8px 0;
       border-radius: 6px;
    
  }

  input:focus {
    background-color: var(--fire-opal);
    outline: none;
  }
select {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  margin: 20px;
}

select:focus {
    outline: none;
    background-color: var(--fire-opal);
}

textarea {
    resize: none;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 6px;
    margin: 20px;
}
textarea:focus {
    background-color: var(--fire-opal);
    outline: none;
}

.contact-form{
    max-width: 750px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

/*styling for projects page*/

table {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }


  .projects-title {
    color: var(--fire-opal);
    font-size: 3rem;
    font-family: 'Lora', serif;
    text-align: center;
  }
  .projects-body {
      background-color: var(--smoky-black);
      color: white;
  }

  th {
    height: 70px;
    font-weight: 1000;
  }

  td {
    text-align: center;
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd; }

    tr:hover {
        background-color: var(--fire-opal);
    }