:root {
--smoky-black: #0e0906ff;
--aero: #6cbaefff;
--ash-gray: #bdbea9ff;
--shadow: 0 1px 5px var(--aero);
--burnished-brown: #a27c7dff;
--desert-sand: #e6beaeff;
--grullo: #b2967dff;

}

* {
    box-sizing: border-box;
    
}

.wrapper{
    display: grid;
    grid-template-rows: 800px;
    /*grid-template-columns: repeat(3,1fr);*/
    grid-template-areas: "header header header header"
    "about-me about-me about-me about-me"
    "contact contact contact contact"
    "projects projects projects projects"
    "footer footer footer footer";
    
}

.title {
  font-family: 'Lora', serif;
        font-size: 4rem;
        color: var(--smoky-black);
}

.typing{
        width: 22ch;
        animation: typing 1s steps(12), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        letter-spacing: .12em;
        font-family: 'Lora', serif;
        font-size: 4rem;
        color: var(--burnished-brown);
      }
      
      @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
      }
      

.subtitle{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: var(--burnished-brown);
    
}

.index-header {
    background-color: var(--grullo);
    padding: 200px;
    box-shadow: var(--shadow);
    grid-area: header;
}

.cbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.contactsbtn {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  background: var(--burnished-brown);
  color: var(--aero);
  border: var(--grullo)
  
}

  /*styling for section 2*/

.section2 {
display: grid;
grid-gap: 5px;
font-family: 'Roboto', sans-serif;
grid-area: about-me;

}

.sm-icons {
  color: var(--smoky-black);
  margin-right:120px;
  margin-left: 120px;
  padding: 20px 10px;
}

.rightimg {
  float: right;
}

.profileimg {
  max-width: 400px;
  height: auto;
  display: block;
  box-shadow: var(--shadow);
  
}

  .subheading {
      text-align: center;
      font-size: 2rem;

  }

.about-me {
  text-align: center;
    width:auto;
    
}


  /*styling for contacts section*/

  #contact-body {
    font-family: 'Roboto', sans-serif;
    /*background-color: var(--smoky-black);*/
    color: white;
    box-shadow: var(--shadow);
    grid-area: contact;
  }

  .hello-title {
      color: var(--smoky-black);
      font-size: 3rem;
      font-family: 'Lora', serif;
      text-align: center;
  }

  input {
      width: 70%;
      padding: 12px 20px;
       margin: 8px 0;
       border-radius: 6px;
    
  }

  input:focus {
    background-color: var(--aero);
    outline: none;
  }
select {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  margin: 20px;
}

select:focus {
    outline: none;
    background-color: var(--aero);
}

textarea {
    resize: none;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 6px;
    margin: 20px;
}
textarea:focus {
    background-color: var(--aero);
    outline: none;
}

#contact-form{
    max-width: 750px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.submitbutton, .resetbutton{
  background-color: var(--aero);
  border: none;
  color: var(--smoky-black);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: var(--shadow);
}





/*styling for projects page*/

table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }


  .projects-title {
    color: var(--smoky-black);
    font-size: 3rem;
    font-family: 'Lora', serif;
    text-align: center;
  }
  .projects-body {
      /*background-color: var(--smoky-black);*/
      color: white;
      grid-area: projects;
  }

  th {
    height: 70px;
    font-weight: 1000;
  }

  td {
    text-align: center;
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd; }

    tr:hover {
        background-color: var(--aero);
    }

    footer {
      padding: 20px;
      /*background-color: var(--smoky-black);*/
      color: var(--aero);
      text-align: end;
      font-family: 'Roboto', sans-serif;
      font-size: x-small;
      grid-area: footer;
    
    }

    /*media queries*/
    @media all and (min-width: 1440px) 
     {
      nav ul {
        position: absolute;
        right: 0;
        top: 0;
      }};


